@charset "UTF-8";

body,
header{
    margin:0;
    padding:0;
}

header {
    background: #ffebbc;
    padding: 10px;
}

.main{
    margin: 10px auto;
    width: 850px;
}

table {
    border-collapse: collapse;
}

table thead {
    background: #32e7ad;
    color: #fff;
}

table thead tr {
    text-align: left;
    padding: 5px;
}

table tbody tr {
    border-bottom: 1px solid #aaa;
    padding: 5px;
}

table tr td:first-child,
table tr th:first-child{
    padding: 5px 30px;
}

.btn_new{
    float: right;
}

.new_link:after{
    content: "";
    display: block;
    clear: both;
}

.flex {
    display: flex;
    margin: 0 0 10px 0;
}

.flex span:first-child {
    flex-basis: 150px;
}

.flex span:last-child {
    flex-basis: 500px;
}

input[type="text"]{
    font-size: 15px;
    padding: 5px;
    width: 100%;
}

.complete{
    text-decoration: line-through;
}
